@model IEnumerable<STRATFY.Models.Grafico>

@{
    ViewData["Title"] = "Index";
}

<h1>Graficos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Criar Grafico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campo2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtivarLegenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dashboard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtivarLegenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dashboard.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
